/*
* Name Sarah Barrosse-Antle
* Due Date 2/4/19
* Project Name and Description My First Prpject
*/

*/

/* The universal selector */

* {

}

/* Body atrributes here */

Body {
    background-color: lavenderblush;

}

table, td, th {border: 1px solid black;}
table {border-collapse: collapse;}

thead {background-color: aliceblue;}
tfoot {background-color: lightpink;}